main {
    min-height: auto;
  }
  
  .uk-container {
    background-color: black;
    opacity: 0.9;
    padding: 30px;
    padding-bottom: 40px;
    }
  
  .uk-section li {
      color:  #dc3545;
      font-size: 40px;
    }
  
  .uk-section h2 {
    color: white;
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
  }
  
  .uk-container p,
  .uk-container a {
    color: white;
    font-size: 20px;
    margin: 10px 0;
  }
  
  .uk-container a:hover {
    color:#dc3545 ;
    font-size: 20px;
    text-decoration: none;
  }
  
  #contenedor-carrusel {
    width: 50%;
  }
  
  .recomm{
    width: 150px;
    justify-content: space-around;
  }
  
  .recomm img{
    cursor: pointer;
  }
  
  .uk-container button {
    color:#dc3545 ;
    background-color: black;
    font-size: 20px;
    opacity: 0.9;
    border: none;
    margin: 20px 0;
    padding: 5px;
    border: solid 2px rgba(246, 247, 250, 0);
  }
  
  button:hover {
    border: solid 2px #dc3545;
    color: white;
    padding: 5px;
    cursor: pointer;
  }
  
  #videoTrailer {
    margin: 10px 0;
  }
  
  .uk-slider {
    width: 100%;
  }
  
  #foto_info{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
  }
  
  .info_serie {
    flex-wrap: wrap;
  }
  
  .info_serie p {
    margin-left: 30px;
  }
  
  .info_serie img {
    max-width: none;
  }  /* para que no achique el poster de la serie */
  
  #masinfo {
    display: flex;
    justify-content: space-between;
    height: auto;
  }
  
  #trailer,
  #reviews {
    flex-wrap: wrap;
  }
  
  #reviews {
    margin: 20px 0;
    width: 40%;
    margin-left: 40px;
  }
  
  #reviews  h1 {
    margin-right: 50px;
  }

  #reviews p {
    text-align: justify;
    font-size: 16px;
    padding: 0;
    font-style: italic;
    color: #dc3545
  }
  #reviews h3 {
    text-align: center;
    color: #dc3545;
    text-decoration: underline;
    font-family: 'Fjalla One', sans-serif;
    padding: 0 10px;
  }
  
  #reviews form {
    margin-top:10px;
    
  }

  
  #videoTrailer {
    width: 100%;
    height: 100%;
  }
  
  #trailer {
    text-align:center;
    width: 50%;
    height: 100%;
  }
  
  .temp {
    color: white;
    font-size: 20px;
    border: outset 3px white;
    font-family: 'Fjalla One',sans-serif;
    padding: 5px;
  }
  
  .uk-accordion .temporadas a {
    font-size: 20px;
    background-color: black;
    padding: 3px;
  }
  

  .uk-accordion .temporadas a:hover {
    color: white;
    background-color: #dc3545;
  }

  .uk-accordion-content section{
    border: solid 1px #dc3545;
    padding: 5px;
  }
  
  #sin_trailer {
    width: 100%;
    color: rgb(104, 105, 100);
  }

  #titulo {
    color: black; 
    font-size: 20px;
    text-align: center;
    background-color:  #dc3545;
  
  }

  .inputs {
    color: #dc3545;
  }

input {
  border-radius: 10px;
    width: 90%;
    margin-bottom: 20px;
    padding: 5px;
    
}

textarea {
  border-radius: 10px;
    width: 90%;
    margin-bottom: 20px;
    padding: 5px;
}


.tit {
  font-size: 30px;
}
  
.resenia {
  border: 2px solid #dc3545 ;
  padding: 10px;
  margin: 10px;
 
}


