main {
    height: auto;
      }
    .favoritos {
      font-size: 30px;
      color: #dc3545 ;
    }
    
    .fav1 {
      display: flex;
    }
    
    .fav1 a{
      flex-wrap: wrap;
    }
    
    h3 {
      font-family: 'Fjalla One',sans-serif;
    
    }
    