main {
    min-height: 100vh;
  }
  .tituloPelicula {
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
  }
  #titulo-genero{
    font-size: 30px;
    color: #dc3545;
    text-decoration: none;
  }
  
  #contenedor-carrusel {
    width: 100%;
    margin-top: 10px;
  }
  
  .serieGen{
    width: 150px;
    justify-content: space-around;
  }
  
  .uk-container img {
    width: 95%;
    height: 90%;
  }
  
  .uk-container img:hover{
    opacity: 0.6;
  }