h2{
    color:#dc3545;
    font-family: 'Fjalla One';
    font-size: 30px;
}

.enlace {
    color: #dc3545;
    font-family: 'Fjalla One';
    font-size: 18px; 
    background-color: black;
    
}
.enlace:hover {
    color: #dc3545;
    font-family: 'Fjalla One';
    font-size: 18px; 
    text-decoration: underline;
}

p {
    color: white;
    font-family: 'Fjalla One';
    font-size: 18px;
}

