h2{
    color:#dc3545;
    font-family: 'Fjalla One';
    font-size: 30px;
}

.enlace {
    color: #dc3545;
    font-family: 'Fjalla One';
    font-size: 18px; 
    background-color: black;
    
}
.enlace:hover {
    color: white;
    font-family: 'Fjalla One';
    font-size: 18px; 
    text-decoration: none;
}

p {
    color: white;
    font-family: 'Fjalla One';
    font-size: 18px;
   
}


input {
    border-radius: 10px;
    width: 30%;
    margin-bottom: 20px;
    padding: 5px;
  } 
 

  .aviso {
    color: yellow;
  }

  .iniciar_sesion label {
    color: #dc3545;
    padding: 5px;
    display: block;
  }
  
 
  .uk-container {
    padding-top: 50px;
    padding-bottom: 150px;
    padding-left: 20px;
  }
  


#bu{
  color: white;
  font-size: 16px;
  background-color: black;
  border: 2px solid #dc3545;
  padding: 3px;
}

form {
  text-align: center;
}

#cerrarSesion{
  background-color: white;
}

.chau {
  color: white;
  font-style: italic;
}

.chau:hover {
  color: white;

}

