.iniciar_sesion label {
    color: #dc3545;
    padding: 5px;
    display: block;
  }
  
  main {
    text-align: center;
  }
  
  .iniciar_sesion input{
    border-radius: 10px;
    width: 30%;
    margin-bottom: 20px;
    padding: 5px;
  }
  
  .iniciar_sesion .enviar {
    background-color: rgba(204, 67, 140, 0);
    padding: 5px;
    color: white;
    border: outset 2px rgba(139, 137, 90, 0);
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    }
  
  .iniciar_sesion .enviar:hover {
      cursor: pointer;
      border: outset 2px #dc3545;
      padding: 5px;
    }

  .iniciar_sesion a {
    text-decoration: none;
    color: white;
  }

.perfil_usuarios .explorar {
  background-color: rgba(204, 67, 140, 0);
  padding: 5px;
  color: white;
  border: outset 2px rgba(139, 137, 90, 0);
  font-size: 20px;
  text-transform: uppercase;
  }

.perfil_usuarios .explorar:hover {
    cursor: pointer;
    border: outset 2px #dc3545;
    padding: 5px;
  }

.perfil_usuarios h2{
  color: white;
  font-family: 'Fjalla One';
  font-size: 20px;
}
h3{
  color: white;
  font-family: 'Fjalla One';
  font-size: 40px;
}
#lista_usuarios {
  text-align: left;
  margin: 30px;
}

#lista_usuarios h1 {
  font-size: 30px;
}

#lista_usuarios li{
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
  padding-bottom: 10px;

}

#lista_usuarios ul {
  padding: 10px;
}


.borrar {
  color: white;
  font-size: 16px;
}

#bu{
  color: white;
  font-size: 16px;
  background-color: black;
  border: 2px solid #dc3545;
  padding: 3px;
}
#bu:hover{
  color: white;
  font-size: 16px;
  background-color: black;
  border: 2px solid white;
  padding: 3px;
}