.ult_resenias li {
color: white;
text-align: center;
  color: #dc3545;
border: 2px solid #dc3545;

margin-top: 50px;
margin-left: 50px;
margin-right: 50px;
}

h1 {
    text-align: center;
}
p {
    color: white;
    font-family: 'Fjalla One';
    font-size: 18px;
    
}


