.ult_resenias li {
color: white;
text-align: left;
border: 2px solid #dc3545;
padding: 10px;
margin-top: 50px;
margin-left: 50px;
margin-right: 50px;
}

#texto {
  font-size: 19px;
}

.listado  {
    text-align: center;
}
.listado p {
    color: white;
    font-family: 'Fjalla One';
    font-size: 17px;
    
}

.listado a {
  text-decoration: none;
  color:white;
}

.listado a:hover {
  color:#dc3545;
}

#volver {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

#volver:hover {
  font-style: italic;
}

.opcionesRes {
  text-align: center;
  position: relative;
}

.opcionesRes ul {
  display: flex;
  justify-content: space-around;
  width: auto;
}

.opcionesRes a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    justify-content: space-around;
    border: solid 2px rgba(255, 255, 255, 0);
    padding: 5px;
  }

  
.opcionesRes a:hover{
    text-decoration: underline overline #dc3545;
    /*font-style: italic;*/
    padding: 5px;
    color: white;
  }

 
