.respuesta {
    color: white;
}

.link{
    color:#dc3545;
    
}

.link:hover{
    color:#dc3545;

}

.noHayRta {
    color: white;
    font-size: 20px;
}
.atras {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}

.atras:hover {
text-decoration: underline;
}
