<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registrarse</title>

    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css"/>

    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/registrarse.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>

  <body>
    <header>
      <%- include('./partials/header')%>
    </header>

    <main>
        <div class="uk-section">
          <div class="uk-container">
            <section class="seccion">


                <% if (error == "true") { %>
                  
                  <div class="divF">
                    
                   
                    <p class="beneficio">Crea una cuenta</p>
                    <form action="/usuarios/registrarse" method="POST">
    
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="" required>
    
                            <label for="email">E-mail</label>
                            <input type="emial" name="email" required>
    
                            <label for="fecha">Fecha de nacimiento</label>
                            <input type="date" name="nacimiento" required>
    
                            <label for="contraseña">Contraseña</label>
                            <input type="password" name="contrasenia" required>
                           <br>
                           <label for="generoFav">Género favorito</label>
                           <select class="" name= "genero" required>
                           <option disabled selected>Género favorito</option>
                            <option value="Action&Adventure">Action & Adventure</option>
                            <option value="Animation">Animation</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Crime">Crime</option>
                            <option value="Documentary">Documentary</option>
                            <option value="Drama">Drama</option>
                            <option value="Family">Family</option>
                            <option value="Kids">Kids</option>
                            <option value="Mystery">Mystery</option>
                            <option value="News">News</option>
                            <option value="Reality">Reality</option>
                            <option value="Sci-fi">Sci-Fi & Fantasy</option>
                            <option value="Soap">Soap</option>
                            <option value="Talk">Talk</option>
                            <option value="War&Politics">War & Politics</option>
                            <option value="Wsetern">Western</option>
   
   
                      </select>

                      <br>
                            <button type="submit" class="enviar" id="regis">Enviar</button>
                    </form>
                    <p class="aviso"><i class="fas fa-exclamation-triangle alerta"></i></p>    
                    <p id="errorEmail"> <%= tuError %> </p>
                    </div>

                    <% } else { %>
                      <div class="divF">
                        <p class="beneficio">Crea una cuenta</p>
                        <form action="/usuarios/registrarse" method="POST">
        
                                <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" id="" required>
        
                                <label for="email">E-mail</label>
                                <input type="emial" name="email" required>
        
                                <label for="fecha">Fecha de nacimiento</label>
                                <input type="date" name="nacimiento" required>
        
                                <label for="contraseña">Contraseña</label>
                                <input type="password" name="contrasenia" required>
                               <br>
                               <label for="generoFav">Género favorito</label>
                               <select class="" name= "genero" required>
                               <option disabled selected>Género favorito</option>
                                <option value="Action&Adventure">Action & Adventure</option>
                                <option value="Animation">Animation</option>
                                <option value="Comedy">Comedy</option>
                                <option value="Crime">Crime</option>
                                <option value="Documentary">Documentary</option>
                                <option value="Drama">Drama</option>
                                <option value="Family">Family</option>
                                <option value="Kids">Kids</option>
                                <option value="Mystery">Mystery</option>
                                <option value="News">News</option>
                                <option value="Reality">Reality</option>
                                <option value="Sci-fi">Sci-Fi & Fantasy</option>
                                <option value="Soap">Soap</option>
                               <option value="Talk">Talk</option>
                                <option value="War&Politics">War & Politics</option>
                               <option value="Wsetern">Western</option>
       
       
                          </select>
<br>
                                <button type="submit" class="enviar" id="regis">Enviar</button>
                        </form>
                        <p id="cuenta_existente">¿Ya tenes una cuenta?<a href="/usuarios/perfil">Inicia sesión</a></p>
                       </div>
                      <% } %>
           
            <div class="divB">
              <p class="beneficio">Conocé los beneficios de RTN SERIES:</p>
              <ol>
                <p class="ben"><i class="fas fa-star"></i> Mira las mejores y últimas series</p>
                <p class="ben"> <i class="fas fa-star"></i> Puntualas y escribí reseñas</p>
                <p class="ben"> <i class="fas fa-star"></i> Lee reseñas de otros usuarios</p>
                <p class="ben"><i class="fas fa-star"></i> Tené tu propia lista de series favoritas</p>
              
              </ol>
            </div>
          </section>
        </div>
    </div>
    </main>
  <br>
  <section>
    <a href="#my-id" uk-scroll id="toptop"><i class="fas fa-arrow-up"></i></a>
</section>
    <footer>
      <%- include('./partials/footer')%>
    </footer>
  
  </body>
  
  
  <script src="https://kit.fontawesome.com/e32b1dc814.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  
  
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
  <script type="text/javascript" src="/javascripts/generos.js"></script>
  <script type="text/javascript" src="/javascripts/dropdown.js"></script>
  <script type="text/javascript" src="/javascripts/registrarse.js"></script>
  
  </html>
    