
    <a href="/pages"><img class="logo" src="/images/logo.png" alt="logotipo" width="100px"></a>
    <nav class="main-nav">
      <ul class="series-generos">
        <li> <a href="/pages/series" class="opciones">SERIES</a></li>
        <li>
          <button class="uk-button uk-button-default opciones" type="button">GÉNEROS</button>
            <div uk-dropdown="pos: bottom-justify">
              <ul class="uk-nav uk-dropdown-nav" id="dropdown-generos">
              </ul>
            </div>
        </li>
      </ul>
    </nav>
    <div class="cuenta_usuario">
      <ul id="opciones_usuario">
        <li><a href="/usuarios/perfil">Iniciar sesión</a></li>
        <li><a href="/usuarios/registrarse">Registrarse</a></li>
      </ul>
    </div>
    <form action="/usuarios/resultadosBusq" method="POST" class=buscar>
      <input type="text" name="palabra_de_busqueda" class="buscador" minlength="3" required>
      <button type="submit" class="boton">Buscar</button>
      <li class="busq_avanzada"><a href="/pages/avanzado">Busqueda avanzada</a></button>
        <li class="busq_avanzada"><a href="/usuarios/favoritos">Favoritos ❤ </a></button>
    </form>
